<div class="container mt-4">
    <h2 [routerLink]="['/']" style="cursor: pointer;" class="bg-secondary p-3 text-center fw-bold">Task Manager App</h2>

    <div class="row">
        <div class="col-4">

            <div class="row position-relative">
                <div class="col-6">
                    <h3 class="float-start">Task List</h3>
                </div>
                <div class="col-6">
                    <button [routerLink]="['/new-task-list']" type="button" class="btn btn-primary float-end">New Task
                        List</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <div class="list-group">
                        <a [routerLink]="['/task-lists', item._id]" routerLinkActive="active"
                            *ngFor="let item of taskLists"
                            class="list-group-item list-group-item-action list-group-item-dark" aria-current="true">
                            {{item.title}}
                            <span (click)="deleteTaskList(item)" class="badge bg-danger rounded-pill">X</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <h3 class="float-start">Linked Tasks</h3>
                </div>
                <div class="col-6">
                    <button (click)="addNewTask()" type="button" class="btn btn-primary float-end">New Task</button>
                </div>
            </div>

            <div class="row">
                <div class="col-12">

                    <ul class="list-group">
                        <li [class.mark-completed]="task.completed == true" style="cursor: pointer;"
                            *ngFor="let task of tasks" (click)="taskClicked(task)"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            {{task.title}}
                            <span (click)="deleteTask(task)" class="badge bg-danger rounded-pill">X</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>