<div class="container mt-4">
    <h2 class="bg-secondary p-3 text-center fw-bold m-0 rounded">
        <span [routerLink]="['/']" style="cursor: pointer;">
            Task Manager App
        </span>
    </h2>

    <div class="row">
        <div class="col-md-4 col-sm-12 mt-4">

            <div class="row position-relative">
                <div class="col-6">
                    <h3 class="float-start m-0 pt-1">
                        Lists
                    </h3>
                </div>
                <div class="col-6">
                    <button [routerLink]="['/new-task-list']" type="button" class="btn btn-primary float-end">
                        New Task List
                    </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                    <div class="list-group">
                        <a [routerLink]="['/task-lists', item._id]" routerLinkActive="active"
                            *ngFor="let item of taskLists"
                            class="list-group-item list-group-item-action list-group-item-dark" aria-current="true">
                            {{item.title}}
                            <span (click)="deleteTaskList(item)" class="float-end">
                                <i class="fa-solid fa-trash fa-sm" style="color: #3cb371;"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12 mt-4">
            <div class="row">
                <div class="col-6">
                    <h3 class="float-start m-0 pt-1">
                        Tasks
                    </h3>
                </div>
                <div class="col-6">
                    <button (click)="addNewTask()" type="button" class="btn btn-primary float-end">
                        New Task
                    </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12">

                    <ul class="list-group">
                        <li [class.mark-completed]="task.completed == true" style="cursor: pointer;"
                            *ngFor="let task of tasks" (click)="taskClicked(task)"
                            class="list-group-item d-flex justify-content-between align-items-center">
                            {{task.title}}
                            <span (click)="deleteTask(task)" class="float-end">
                                <i class="fa-solid fa-trash fa-sm" style="color: #3cb371;"></i>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>